{% extends 'base.html.twig' %}

{% block title %}Hello AbsencePeriodController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <a href="{{ path('absence_period') }}">
            <button type="button" class="btn btn-primary">Retour</button>
        </a>
        <h1>Nouvelle absence</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.startTime, { 'label': 'Début' }) }}
        {{ form_row(form.endTime, { 'label': 'Fin' }) }}
        {{ form_row(form.submit, { 'label': 'Créer' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
